<h1>Hello, {{.Name}}. Your age is {{.Age}} and you visited the website {{.Meta.Visits}} times for an average {{.Meta.AvgTime}} hours per visit!</h1>
<p>Bio: {{.Bio}}</p>

<p>
    {{range .Week}} T1 {{else}} T0 {{end}}
</p>