{{template "header" .}}
<div class="px-6">
    <h1 class="py-4 text-4xl font-bold">Contact Page</h1>
    <p class="text-gray-800">
        To get in touch, email me at <a class="underline" href="mailto:wagnojunior@gmail.com">wagnojunior@gmail.com</a>.
    </p>
</div>

{{template "footer" .}}
