{{template "header" .}}
<div class="flex flex-col px-6">
    <h1 class="py-4 text-3xl font-bold">Frequently Asked Questions</h1>
    {{range .}}
    {{template "qa" .}}
    {{end}}
</div>
{{template "footer" .}}


{{define "qa"}}
<details class="collapse bg-base-100 border mt-1">
    <summary class="collapse-title fluidtext-base font-medium">{{.Question}}</summary>
    <div class="collapse-content">
        <p>{{.Answer}}</p>
    </div>
</details>
{{end}}