<h1>FAQ Page</h1>
<ul>
    <li>
        <b>Question one:</b> Answer one.
    </li>
    <li>
        <b>Question two:</b> Answer two.
    </li>
    <li>
        <b>Question three:</b> Answer three.
    </li>
</ul>